info:
  app:
    version: @project.version@
    name: @project.name@
    encoding: @project.build.sourceEncoding@
    java:
      version: @java.version@

management:
  endpoints:
    web:
      base-path: /internal
      exposure.include: '*'
      path-mapping:
        prometheus: metrics
  endpoint:
    health.show-details : always
    security.enabled : false
    metrics:
      enabled: false
    prometheus:
      enabled: true
  info:
    git:
      mode: simple

spring:
  main:
    banner-mode: 'OFF'
  application:
    name: ${info.app.name}
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8082/rest/v1/sts/jwks

nav:
  proxyHost: webproxy-nais.nav.no
  proxyPort: 8088
